@page "/Home"
@rendermode InteractiveServer
@using KNOTS.Services
@inject GameService serveris

<PageTitle>Home</PageTitle>

<h1>Join a new game now!</h1>

<p>You will be connected to an interactive server, where you can find your match based on your answers!</p>
<button class="btn btn-primary w-20" @onclick="ConnectToServer">Connect to server</button>
<p>@statusMessage</p>


@code {
    private string statusMessage = "";

    protected override void OnInitialized()
    {
        serveris.OnChange += atnaujinti;
    }
    private void ConnectToServer()
    {
        serveris.UserJoined();
        statusMessage = $"{serveris.JoinedUsers} users joined the game!";
    }

    private void atnaujinti()
    {
        InvokeAsync(() =>
        {
            statusMessage = $"{serveris.JoinedUsers} users joined the game!";
            StateHasChanged();
        });
        
    }
    public void Dispose()
    {
        serveris.OnChange -= atnaujinti;
    }
    
}