@page "/Home"
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<h1>Join a new game now!</h1>

<p>You will be connected to an interactive server, where you can find your match based on your answers!</p>
<button class="btn btn-primary w-20" @onclick="ConnectToServer">Connect to server</button>


@code {

    private void ConnectToServer() { }
}