### Rider ###
/.idea/
/shelf/
/workspace.xml
/modules.xml
/.idea.KNOTS.iml
/contentModel.xml
/projectSettingsUpdater.xml
/httpRequests/
/dataSources/
/dataSources.local.xml

### .NET / Visual Studio ###
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider and VS caches
*.vs/
*.vscode/
*.userprefs

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

# NuGet & MSBuild artifacts
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
project.assets.json
project.nuget.cache
project.packagespec.json
rider.project.*.info
*.nuget.dgspec.json
*.nuget.g.props
*.nuget.g.targets
*.GeneratedMSBuildEditorConfig.editorconfig
artifacts/
packages/

# Logs
*.log

# Generated binaries/symbols
*.dll
*.exe
*.pdb
*.cache

# Compressed
*.gz

# Others
*.db
